---
# tasks file for mariadb
- name: Install required package
  dnf:
    name: "{{ item }}"
    state: present
    update_cache: yes
  with_items:
    - mariadb
    - mariadb-server
    - python3
    - python3-PyMySQL
- name: Mariadb Start Service
  service:
    name: mariadb
    state: started
    enabled: yes
- name: Install pymysql
  pip:
    name: pymysql
    state: present
    
- name: Create .my.cnf
  template:
    src: "./files/dotmy.cnf.j2"
    dest: "/etc/my.cnf"
    owner: root
    group: root
    mode: 0600
- name: Set the root password
  mysql_user:
    login_host: 'localhost'
    login_user: 'root'
    login_password: ''
    host_all: yes
    name: root
    password: "{{ mysql_root_password }}"
- name: Delete anonymous mysql.user
  mysql_user:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    name: ""
    state: absent
- name: Remove test database
  mysql_db:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    name: test
    state: absent

- name: Create wordpress database
  mysql_db:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    name: "{{ mysql_database_name }}"
    state: present
- name: Create user for wordpress database
  mysql_user:
    login_user: root
    login_password: "{{ mysql_root_password }}"
    name: "{{ mysql_database_user }}"
    password: "{{ mysql_database_password }}"
    priv: '{{ mysql_database_name }}.*:ALL,GRANT'
    state: present