---
# handlers file for php
- name: PHP-FPM Start Service Handler
  service:
    name: php-fpm
    state: started
    enabled: yes
  listen: php-fpm_start_notify
- name: PHP-FPM Restart Service Handler
  service:
    name: php-fpm
    state: restarted
  listen: php-fpm_restart_notify